html,
body {
	height: fill-available;
	height: -webkit-fill-available;
}

body {
	margin: 0;
	background-color: var(--light-blue);
	font-family: var(--main-font);
	color: var(--dark-gray);

	@include prefers-motion {
		background: linear-gradient(45deg, var(--light-blue), var(--dark-blue));
		background-size: 400% 400%;
		animation: subtle-gradient 15s ease infinite;
	}
}

h1 {
	--size: #{rem(36px)};
	
	@include mobile {
		--size: #{rem(24px)};
	}

	font-size: var(--size);
}

h1, 
h2,
h3,
h4,
h5,
h6, 
p {
	margin-top: 0;
}

header {
	h1,
	h2,
	h3 {
		margin-bottom: 0;
	}
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

input:not([type="radio"]):not([type="checkbox"]) {
	font-size: rem(16px);
	border-radius: rem(8px);
	padding: rem(12px) rem(16px);
	box-shadow: none;
	border: rem(1px) solid var(--input-border-color);

	&:focus {
		box-shadow: 0 rem(10px) rem(20px) rgba(0, 0, 0, .20);
	}
}

input[type="radio"] {
	width: var(--input-size);
	height: var(--input-size);
	margin: 0;
	appearance: none;
	border: rem(1px) solid var(--input-border-color);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex: 0 0 var(--input-size);

	&.checked {
		&::before,
		&::after {
			background-color: var(--input-selected-color);
		}

		&.animate {
			&::after {
				animation: .6s pulse ease-in-out forwards;
			}
		}
	}

	&::after,
	&::before {
		content: '';
		width: rem(12px);
		height: rem(12px);
		position: absolute;
		border-radius: 100%;
	}
}

.full-height {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - (var(--wrapper-padding) * 2));
	padding: var(--wrapper-padding);
}

.card {
	width: 100%;
	max-width: var(--max-container-width);
	margin: auto;
	border-radius: rem(8px);
	padding: var(--wrapper-padding);
	background-color: var(--white);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .10);
	border: 1px solid var(--light-gray);
}

@keyframes subtle-gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
		transform: scale(1);	
	}

	50% {
		opacity: 0;
		transform: scale(4);	
	}

	100% {
		opacity: 0;
		transform: scale(1);	
	}
}